.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.flat-button {
  color: #ffd700;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  font-family: sans-serif;
  text-decoration: none;
  padding: 1rem 1.8rem;
  border: 0.1rem solid #ffd700;
  margin-top: 2.5rem;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;

  &:hover {
    background: #ffd700;
    color: #333;
  }
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  transform-style: preserve-3d;
  transform-origin: 10rem 10rem 0;
  margin-left: calc(50% - 10rem);
  div {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border: 0.1rem solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2rem 0 #888;
  }
  .face1 {
    transform: translateZ(10rem);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(10rem);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(10rem);
    color: #28A4D9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(10rem);
    color: #EFD81D;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(10rem);
    color: #5ED4F4;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(10rem);
    color: #EC4D28;
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
